* {
    margin:0;
    padding: 0;
    outline: 0;
    font-family: "Poppins", sans-serif;
}

.cont {
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.cont1 {
    width: 25%;
    height: 100%;
    border: 1px solid black;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.cont2 {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont h2{
    display: block;
    position: fixed;
    top: 10px;
}

.sub-cont1{
    padding: 0;
    height: 90%;
    width: 100%;
    /* border: 2px dotted black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.sub-cont2{
    height: 50%;
    width: 75%;
    /* border: 2px dotted black; */
}

.sub-cont1 #search-bar{
    margin: 0;
    display: block;
    border: 1px solid black;
    padding: 15px 15px;   
    border-radius: 70px; 
    display: flex;
    gap: 5px;
}

.sub-sub-cont{
    margin-top: 20px;
    height: 95%;
    width: 100%;
    /* border: 2px dotted pink; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* justify-content: space-evenly; */
} 

.sub-cont1 #search-bar input{
    width: 90%;
    font-size: 16px;
    border: none;
}

.sub-cont1 #search-bar button{
    border: none;
    background-color: #fff;
}

.sub-sub-cont .chats{
    width: 100%;
    height: 10%;
    /* border: 1px solid black; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.sub-sub-cont .chats:hover{
    background-color: #e7ecef;
    cursor: pointer;
} 

.sub-sub-cont .chats .profile{
    width: 12%;
    height: 70%;
    /* border: 2px dotted pink; */
}

.sub-sub-cont .chats .chat-overview{
    width: 80%;
    height: 60%;
    /* border: 2px dotted red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.sub-sub-cont #anant .profile{
    background-image: url("jakob-owens-lkMJcGDZLVs-unsplash.jpg");
    background-size: cover;
    border-radius: 50%;
}

.sub-sub-cont #sumanyun .profile {
    background-image: url("drew-hays-Kt8eGw8_S8Y-unsplash.jpg");
    background-size: cover;
    border-radius: 50%;
}

.sub-sub-cont .chats .chat-overview .name h3{
    font-size: 16px;
}


.cont2 .sub-cont2 h4{
    font-size: 36px;
    padding-top: 25%;
}


body.chat-mode .sub-cont2{
    height: 98%;
    width: 98%;
    /* border: 2px dotted black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

body.chat-mode .sub-cont2 .chat-navbar {
    width: 100%;
    height: 8%;
    /* border: 1px solid purple; */
    /* position: absolute;
    top: 0px; */
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
}

body.chat-mode .sub-cont2 .chat-view {
    width: 100%;
    height: 84%;
    /* border: 1px solid burlywood; */
    display: flex;
    flex-direction: column; /* Newest message at the bottom */
    align-items: flex-end;        /* Align messages to the left */
    overflow-y: auto;
}

body.chat-mode .sub-cont2 .chat-input {
    /* position: absolute;
    bottom: 0px; */
    width: 100%;
    height: 8%;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 57px;
}


body.chat-mode .sub-cont2 .chat-input input{
    width:75%;
    border: none;
}


body.chat-mode .sub-cont2 .chat-input input:focus{
    outline: none;
    border: none;
}


body.chat-mode .sub-cont2 .chat-input button{
    height: 50%;
    width: 10%;
    border: none;
    background-color: #fff;
}

body.chat-mode .sub-cont2 .chat-navbar .profile{
    width: 6%;
    height: 70%;
    border: 1px solid black;
    border-radius: 50%;
}

body.chat-mode .sub-cont2 .chat-navbar h3{
    padding-left: 10px;
}

body.chat-mode .sub-cont2 .chat-view .message{
    margin: 8px 2px 0 0;
    padding: 8px 12px;
    background: #e0e0e0;
    border-radius: 8px;
    max-width: 70%;
}